<header class="header clearfix">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to "HOME", root_path, class: "navbar-brand"%>
        </li>
        <% unless current_user %>
        <li class="nav-item">
          <%= link_to "회원가입", "/users/signup", class: "navbar-brand"%>
        </li>
        <li class="nav-item">
          <%= link_to "로그인", "/users/login", class: "navbar-brand"%>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "로그아웃", "/users/logout", class: "navbar-brand" %>
        </li>
        <li class="nav-item">
          <%= link_to "게시판가기", "/posts/board", class: "navbar-brand" %>
        </li>
        <% end %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <h1 class="text-muted"><a href="/"/>MayFlower</h1>
  <% if flash[:notice] %>
  <div class="alert alert-primary" role="alert">
    <p><%= flash[:notice] %></p>
  </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-primary" role="alert">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>
</header>
